#menu{
    list-style-type: none;
    display: flex; 
}

.elements-menu{
    margin: 10px;
}

.btns-menu{
    text-decoration: none;
    color:rgb(253, 253, 253);

}

header{
    background-color: black;
    text-align:center;
    padding: 5px; 
}

#formulario-bebidas img{
    width: 230px;
    height: 120px;
}

#formulario-sobremesas img{
    width: 230px;
    height: 220px;
}

#logoMec {
    width:130px;
    height: 100px; 
}

#btn-iniciarPedido{
    border: none;
    border-width: 3px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 175, 37);
    font-size: 20px;
    color: rgb(0, 0, 0);
}

#btn-voltar{
    border: none;
    border-width: 3px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    color: rgb(244, 228, 228);
}